{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->
<br>

<h2 align="center">Selamat Datang di Portal Siswa</h2>
<h1 align="center">SMP An-Nur Jakarta</h1>
<br><br>
 
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <center><h4 class="sub-header">Daftar Mata Pelajaran</h4></center>
    <table class="table table-hover">
        <tr>
          <td>Matematika</td>
          <td>Senin</td>
          <td>08.00 - 10.00 Wib</td>
        </tr>
        <tr>
          <td>Bahasa Indonesia</td>
          <td>Selasa</td>
          <td>08.00 - 10.00 Wib</td>
        </tr>
        <tr>
          <td>Bahasa Inggris</td>
          <td>Rabu</td>
          <td>08.00 - 10.00 Wib</td>
        </tr>
        <tr>
          <td>IPA</td>
          <td>Kamis</td>
          <td>08.00 - 10.00 Wib</td>
        </tr>
        <tr>
          <td>IPS</td>
          <td>Jumat</td>
          <td>08.00 - 10.00 Wib</td>
        </tr>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table table-hover">
      <center><h4 class="sub-header">Daftar Mata Pelajaran</h4></center>
      <tr>
        <td>Lita Anggraini, S.Pd.</td>
        <td>Guru Matematika</td>
      </tr>
      <tr>
        <td>Bella Nideni Mahendra, S.Pd.</td>
        <td>Guru Bahasa Indonesia</td>
      </tr>
      <tr>
        <td>Faris Maulana , S.Pd.</td>
        <td>Guru Bahasa Inggris</td>
      </tr>
      <tr>
        <td>Hairul Rizal , S.Pd.</td>
        <td>Guru IPA</td>
      </tr>
      <tr>
        <td>M Ali Akbar Sinaga , S.Pd.</td>
        <td>Guru IPS</td>
      </tr>
    </table>
  </div>
</div>
              

<!-- <h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->



{% endblock %}
